body{
    background-color: #afcfd3;
    color:rgb(0, 0, 0);
    font-family: arial;
}
#container{
    width: 800px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    padding: 30px 60px;
    border-left: 5px double cyan;
    border-right: 5px double cyan;
}
h1{
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-family: georgia;
}
h2{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
h3{
    padding: 15px;
    border-left: 20px groove rgb(84, 84, 84);
    padding-left: 15px;
    border-radius: 15px;
    border-bottom: 2px solid #1c1b1b;
    width: 125px;
    background-color: rgb(80, 159, 159);
}
p{
    line-height: 2.2em;
    background-color: #60c8ca;
    padding: 20px;
    border: 2px dotted black;
}

img{
    width: 300px;
    border: 3px solid rgb(44, 64, 217);
    border-radius: 15px;
    float: left;
    margin-right: 20px;
}
/* PSEUDO SELECTORS */
a:link{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: rgb(120, 0, 0)
}
a:hover{
    color: rgb(189, 29, 29);
}
a:active{
    color: black;
}
/* ID RULES */
#pic1{
    border: none;
    width: 250px;
}
#pic2{
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
#p2{
    background-color: #238789;
}
/* CLASS RULE */
.highlight{
    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
}